ROOT=/mnt/usb/media-center
DOWNLOADS=/mnt/usb/media-center/downloads
TV=/mnt/usb/media-center/downloads/completed/tv
MOVIES=/mnt/usb/media-center/downloads/completed/movies
MUSIC=/mnt/usb/media-center/downloads/music
USER=pi
PASS=somepass
TZ=Europe/Amsterdam
ROOT=/mnt/usb/
PUID=1000
PGID=1000
UNMASK_SET=022
QBITTORRENT_WEBUI_PORT=8080
PLEXDB=/Library/Application Support/Plex Media Server/Plug-in Support/Databases/com.plexapp.plugins.library.db
PLEXPLUGINS=/Library/Application Support/Plex Media Server/Plug-ins
